:root {
  --bg: #c8c8c6;
  --fg: #141414;
  --secondary: rgb(255, 102, 0);
}

@font-face {
  font-family: maragsa;
  src: url(/assets/fonts/Maragsa-Display.woff);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}


body {
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.24' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: multiply;
  margin: 3rem;
}

/*navbar*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid var(--fg);
}

#logo{
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

#logo > a{
  color: var(--fg);
  font-size: 25px;
  font-weight: 600;
  font-family: "maragsa", sans-serif;
}

nav ul {
  display: flex;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid var(--fg);
}

nav ul li a {
  font-size: 25px;
  font-family: "maragsa", sans-serif;
  font-weight: 900;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--fg);
  transition: background-color 1s;
}

nav ul li a:hover {
  background-color: var(--fg);
  color: var(--bg);
}

/*hero section*/
main .hero{
  border-bottom:2px solid var(--fg) ;
  border-left:2px solid var(--fg) ;
  border-right:2px solid var(--fg) ;
  display: flex;
  padding-bottom: 3rem;
}

main .hero > .intro {
  margin-top: 6rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .hero > .intro > .disc > h1 span{
  font-weight: 900;
  font-family: "maragsa", sans-serif;
  font-size: 100px;
  color: rgb(255, 102, 0);
}
main .hero > .intro > .disc{
  text-align: center;
  font-weight: 900;
  font-family:  sans-serif;
  font-size: 20px;
}

main .hero > .intro > .button{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

main .hero > .intro > .button button{
  background-color: var(--secondary);
  font-size: 25px;
  font-weight: 900;
  font-family: "maragsa", sans-serif;
  padding: 1rem;
  border: 2px solid var(--fg);
  transition: scale 0.5s ease-out,box-shadow 1s ease-out;
}

main .hero > .intro > .button button:hover{
  box-shadow: 3px 3px var(--fg);
  scale: 1.05;
}

main .hero > .intro > .button button a{
  color: white;
}

main .hero>.image {
  width: 50%;
  border-left: 2px solid var(--fg);
  border-bottom: 2px solid var(--fg);
}

main .hero>.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Projects*/
#all-projects{
  border: 2px solid var(--fg);
  border-top: none;
}

#all-projects > .heading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--fg);
}

#all-projects>.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#all-projects>.project>.screenshot{
  width: 50%;
  padding: 0 2rem;
  margin-top: 8rem;
}

#all-projects>.project>.screenshot img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#all-projects>.project>.container{
  width: 50%;

}

#all-projects>.project>.container> p{
  padding-left: 2rem;
  font-size: 23px;
  font-weight: 500;
}

#all-projects>.project>.container>.title {
  display: flex;
  padding: 1rem 2rem;
}

#all-projects>.project>.container>.title>.title-items {
  padding: 1rem 2rem;
  font-size: 30px;
  font-family: "maragsa", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--fg);
}

#all-projects>.project>.container>.title>.index {
  font-size: 70px;
  font-weight: 900;
  border-right: 2px solid var(--fg);
}

#all-projects>.project>.container>.button{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

#all-projects>.project>.container>.button > button{
  background-color: var(--secondary);
  font-family: "maragsa", sans-serif;
  font-size: 25px;
  font-weight: 900;
  padding: 1rem;
  border: 2px solid var(--fg);
  transition: scale 0.5s ease-out,box-shadow 1s ease-out;
}

#all-projects>.project>.container>.button > button:hover{
  box-shadow: 3px 3px var(--fg);
  scale: 1.05;
}

#all-projects>.project>.container>.button > button a{
  color: white;
}

/*About*/
#about{
  border: 2px solid var(--fg);
  border-top: none;
}

#about > .heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "maragsa", sans-serif;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--fg);
}

#about > .dec{
  margin: 3rem;
  font-size: 23px;
  font-weight: 500;
}

/*Contact*/
#contact {
  border: 2px solid var(--fg);
  border-top: none;
}

#contact > .heading{
  display: flex;
  justify-content: center;
  font-family: "maragsa", sans-serif;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--fg);
}

.contact-container{
  margin: 3rem;
  display: flex;
  gap: 3rem;
}

.contact-items{
  flex: 1;
}

.contact-form{
  border: 2px solid var(--fg);
  padding: 2rem;
}

.form-input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.contact-form > form button{
  background-color: var(--secondary);
  border: 1px solid var(--fg);
  font-weight: 600;
  color: white;
  padding: 7px;
  transition: scale 0.5s ease-out,box-shadow 1s ease-out;
}

.contact-form > form button:hover{
  box-shadow: 3px 3px var(--fg);
  scale: 1.05;
}
.get-in-touch{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.get-in-touch-items{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.get-in-touch-items > .links a{
  color: var(--fg);
  font-size: 24px;
  font-weight: 600;
}