:root {
  --bg: #c8c8c6;
  --fg: #141414;
}

@font-face {
  font-family: maragsa;
  src: url(/assets/fonts/Maragsa-Display.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(315deg, #C9C9C7, #129792);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.grain{
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.99' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--fg);
}

#logo{
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

nav ul {
  display: flex;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--fg);
}

nav ul li a {
  font-size: 18px;
  font-family: "maragsa", sans-serif;
  font-weight: 900;
  padding: 16px 32px;
  text-decoration: none;
  color: var(--fg);
  transition: background-color 1s;
}

nav ul li a:hover {
  background-color: var(--fg);
  color: var(--bg);
}