footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  border-top: 1px solid var(--fg-main);
}
footer div:nth-child(2) {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

footer div:nth-child(2) a {
  color: var(--fg-main);
  font-weight: 600;
}

footer div:nth-child(2) a:hover {
  color: var(--fg-alt);
}

@media screen and (max-width: 480px) {
  footer {
    padding: 0px 10px;
    font-size: 12px;
  }
  footer div:nth-child(2) {
    gap: 10px;
  }
  footer div:nth-child(2) a {
    font-size: 14px;
  }
}
